body, html {
	background-repeat: no-repeat;
  background:#22232b;
	position: relative; 
}

#particles-js{
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: 50% 50%;
  	position: fixed;
  	top: 0px;
  	z-index:-1;
}

/*  musfealle */

#sessionDisplay {
    background-color: rgba(230, 230, 150, 0.6);
    border-radius: 4px;
    color: #000000;
    display: none;
    font-weight: bold;
    padding: 3px 16px 3px 16px;
    margin-top: 16px;
    margin: 17px 3px 0px 3px;
}

#inputBoxesContainer {
    position: fixed;
    text-align: center;
    top: calc(50%);
    left: calc(42%);
    right: calc(42%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
}